/* Stylesheet by Xinyi Liu, 2017 */
.loader {
    display: block;
    position: absolute;
	z-index:2932939239293923;
    left:55%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    .loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    .loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
/*loader codes end*/

.defaultL{
	width:180%;
}

#DelayMinutes{
	margin-top:5%;
}

#main-element{
	font-family:Gill Sans MT;
}

span a{
	color:white;
}

ul li:hover{
	background:linear-gradient(#005b96,#6497b1);
}

.menu-Button{
	left:-20%;
}

.OverviewBoxTitle{
	text-align:center;
	font-size: 25px;
	font-weight:bold;
}

.OverviewBox{
	background:linear-gradient(#b3cde0,#6497b1);
	/*background:linear-gradient(#5fbfef,#519adb);*/
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
	padding:15px;
	font-family:Gill Sans MT;
	font-size:20px;
	position:absolute;
	/*position:absolute;*/
	/*z-index:2932939239293923;*/
	top:30%;
	left:30%;
	border-radius:25px;
}

.OverviewContent{
	margin:2%;
}

.ContactBox{
	background:linear-gradient(#b3cde0,#6497b1);
	/*background:linear-gradient(#5fbfef,#519adb);*/
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
	padding:15px;
	font-family:Gill Sans MT;
	/*font-size:20px;*/
	/*position:absolute;*/
	top:6%;
	left:30%;
	width:52%;
	border-radius:25px;
}

.TutorialBoxTitle{
	text-align:center;
	font-size: 25px;
	font-weight:bold;
}

.TutorialBox{
	background:linear-gradient(#b3cde0,#6497b1);
	/*background:linear-gradient(#5fbfef,#519adb);*/
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
	padding:15px;
	font-family:Gill Sans MT;
	/*font-size:20px;*/
	/*position:absolute;*/
	top:25%;
	left:35%;
	width:40%;
	border-radius:25px;
}

#myModal1{
	left:15%;
	top:30%;
}

#myModal2{
	left:10%;
	top:-3%;
	/*padding:-2%;*/
}

#myModal3{
	left:15%;
	top:20%;
}

/*hide all the airline icon images by default*/
.IconImage{
    height: auto;
    width:auto;
    max-height: 50px;
    max-width:50px;
}

#airlineTable{
	border-top:none;
}

#airlineTable td{
	text-align:right;
    height: 100%;
    vertical-align: middle;
    border-top:0px;
}

#navbar{
	margin-bottom:0;
}

.navbar-brand{
	position:relative;
	/*left:0.5%;*/
}

.navbar-default .navbar-brand{
	font-family:Gill Sans MT;
	font-size: 25px;
	font-weight:bold;
}

.container1{
	background:linear-gradient(#6497b1,#005b96);
	/*background:linear-gradient(#555555,#333333);*/
	/*background:linear-gradient(#0a84c1,#2b669a);*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.container-footer{
	/*position:relative;*/
	/*bottom:0px;*/
	/*width:100%;*/
	/*height:5%;*/
	background:linear-gradient(#6497b1,#005b96);
	/*background:linear-gradient(#555555,#333333);*/
	/*background:linear-gradient(#0a84c1,#2b669a);*/
}

.footerDiv1{
	margin-top:-43%;
	color:white;
	left:90%;
}

.footerDiv2{
	margin-top:-30%;
	color:white;
	left:120%;
}

.pull-middle{
	margin-left:40%;
}

#side-panel{
	/*position:absolute;*/
	/*width:19%;*/
	/*height:100%;*/
	/*left:0%;*/
	/*float:left;*/
	/*width:20%;*/
	/*background:linear-gradient(#D3D3D3,gray);*/
	border-left:solid;
	border-right:solid;
	border-width:1px;
	border-color:#d3d3d3;
	display:inline-block;
	padding:0.58%;
	padding-left:1%;
	/*background:linear-gradient(#b3cde0,#6497b1);*/
	/*background:linear-gradient(#999999,#777777);*/
	/*background:linear-gradient(#5fbfef,#519adb);*/
	/*background-color: white;*/
	/*position: absolute;*/
	/*z-index:1000000002383823;*/
}

#side-panel-right{
	border-left:solid;
	border-right:solid;
	border-width:1px;
	border-color:#d3d3d3;
	display:inline-block;
	padding:0.58%;
	/*background:linear-gradient(#D3D3D3,gray);*/
}

/*This is division line styling code for modals*/
.sexy_line{
	/*display:block;*/
	margin:0px;
    border:none;
    color:#5fbfef;
    height:1px;
    background:#2b669a;
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
	/*background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(black), to(white));*/
}

/*This is division line styling code for side panels*/
#sexy_line1{
	margin-top:10px;
	margin-bottom:10px;
	display:block;
    border:none;
    color:white;
    height:1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}
/*
#checkboxAirline input[type="checkbox"]:checked{
	background:blue;
}
*/
h3.title{
	font-family:Gill Sans MT;
	font-size:120%;
	text-align:left;
	margin-top:5px;
	/*padding-top:10px;*/
}

.slider-container{
	margin-bottom:30px;
}

/*codes for styling contact window*/
h3{
	font-weight:bold;
	text-align:center;
}

.GeneralIntro1{
	text-align:center;
	font-size:20px;
}

.Contact_Title{
	text-align:center;
	font-size:15px;
}

#Division{
	margin-top:1%;
}

#intro{
	width:30%;
	margin-left:5%;
}

.Intro{
	text-align:center;
	margin-top:2%;
}

.Pic{
	border-radius:50%
}

p.tag{
	text-align:left;
	font-size:25px;
}

p.description{
	font-size:16px;
}

.Details{
	width:50%;
	text-align:justify;
	margin-top:2%;
}

/*codes for contact window end*/

.resetter{
	cursor:pointer;
	/*position:relative;*/
	border-radius:25px;
	width:50;
	height:50;
}

.hovered{
	background:linear-gradient(#3a8ad1,#81cef4);
	cursor: pointer;
}

#search-proportion{
	height:0%;
	padding-left:20px;
	padding-right:20px;
}

/*
#proportion-panel{
	height:0%;
	padding-left:20px;
	padding-right:20px;
}
*/
#time-panel{
	height:0%;
	padding-left:20px;
	padding-right:20px;
}

#delay-panel{
	height:0%;
	padding-left:20px;
	padding-right:20px;
}

#airline-panel{
	height:0%;
	padding-left:20px;
	padding-right:20px;
}

#checkboxAirline{
	float:left;
	width:45%;
}

/*styling for submit and reset buttons*/
.activated{
	background:linear-gradient(#6497b1,#005b96);
}
.activated:hover{
	background:linear-gradient(#005b96,#6497b1);
	cursor:pointer;
}
.deactivated{
	background:gray;
	opacity:0.65;
}
.deactivated:hover{
	cursor:not-allowed;
}

#submit{
	position:relative;
	width:40%;
}

#return_default{
	position:relative;
	width:40%;
}
/*styling for submit and reset buttons ends*/


/*styling for check-all button*/
#checkAllBox{
	background:linear-gradient(#6497b1,#005b96);
}

#mapDiv{
	/*margin-left:20%;*/
	/*position:absolute;*/
	/*display:inline-block;*/
	/*margin-bottom: 20px;*/
	/*margin-top:-10%;*/
	/*left:-5%;*/
	margin-top:1%;
	background-color: white;
}

.map{
	/*width:100%;*/
	fill: #7f9db7;
	overflow:visible;
	color:black;

}

/*.states{
    fill-opacity: 0;
    stroke: #666666;
	stroke-width: 0.4px;
	stroke-linecap:round;
	stroke:rgb(0,0,0,0.6);
}*/

.states{
	fill: #dcdcdc;
    fill-opacity: 1;
    stroke: #ffffff;
	stroke-width: 0.75px;
	stroke-linecap:round;
	stroke:rgb(0,0,0,0.6);
}

#resultsFiltersDiv {
  min-height: 100%;
  margin-bottom: 20px;
}

#mapTitle {
  margin-left: 15px;
}

.page-header {
  margin-top: 65px;
}

.col-sm-4 {
  float: left;
}

.col-sm-8 {
  float: right;
}

.title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.site-footer{
	display:inline;
}

.arc {
    fill: none;
    stroke: #252525;
	stroke-opacity: 0.7;
    stroke-linejoin: round;
    cursor: pointer;
}

.infolabel {
    position: absolute;
    min-height: 20px;
    min-width: 50px;
    max-width: 200px;
    border: solid thin black;
    border-radius: 10px;
    color: black;
    background-color: white;
    opacity:0.9;
    padding: 2px 2px;
    top: -75px;
    text-align: center;
}

.h4 {
  word-wrap: break-word;
}